<html>
    <head>
        <title>Daftar Agenda</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container" style="padding-top:20px;">
            <div class="row" id="dw">
                <div class="col-md-6">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">Daftar Agenda</h3>
                        </div>
                        <div class="panel-body">
                            <button class="btn btn-danger btn-sm" v-on:click="bukaForm" v-if="hideTombol"><i class="fa fa-folder-open-o"></i> Lihat</button>
                            <div v-show="tampilForm">
                                <div class="form-group">
                                    <label for="agenda">Agenda</label>
                                    <input type="text" class="form-control" id="agenda" placeholder="Agenda apa hari ini?" v-model="agenda">
                                </div>
                                <div class="form-group">
                                    <label for="desc">Deskripsi</label>
                                    <input type="text" class="form-control" id="desc" v-model="deskripsi">
                                </div>
                                <div class="form-group">
                                    <label for="tanggal">Tanggal</label>
                                    <input type="text" class="form-control" id="tanggal" v-model="tanggal">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-md" v-on:click="tambahData"><i class="fa fa-plus-circle"></i> Tambah</button>
                                    <button class="btn btn-warning btn-md" v-on:click="tutupForm"><i class="fa fa-plus-circle"></i> Tutup</button>
                                </div>
                                <hr>
                            </div>

                            <div class="agenda" v-for="list in lists">
                                <h3><i class="fa fa-bullhorn"></i> {{ list.agenda }}</h3>
                                <p><i class="fa fa-calendar"></i> {{ list.tanggal }}</p>
                                <p>{{ list.deskripsi }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="https://unpkg.com/vue@2.5.6/dist/vue.js"></script>
        <script type="text/javascript">
            new Vue({
                el: '#dw',
                data: {
                    agenda: '',
                    tanggal: '',
                    deskripsi: '',
                    lists: [
                        {
                            'agenda': 'Belajar VueJS',
                            'tanggal': '12-11-2019',
                            'deskripsi': 'Lorem ipsum dolor amet'
                        },
                        {
                            'agenda': 'Belajar PHP',
                            'tanggal': '13-11-2019',
                            'deskripsi': 'Ipsum dolor amet'
                        }
                    ],
                    tampilForm: false,
                    hideTombol: true
                },
                methods: {
                    bukaForm() {
                        this.tampilForm = true;
                        this.hideTombol = false;
                    },
                    tutupForm() {
                        this.tampilForm = false;
                        this.hideTombol = true;
                    },
                    tambahData() {
                        if(this.agenda != '' && this.tanggal != '' && this.deskripsi != '') {
                            this.lists.push({
                                agenda: this.agenda,
                                tanggal: this.tanggal,
                                deskripsi: this.deskripsi
                            });
                            this.agenda = '';
                            this.tanggal = '';
                            this.deskripsi = '';
                        } else {
                            alert('Silahkan lengkapi form');
                        }
                    }
                }
            });
        </script>
    </body>
</html>